projects/job-replacement/automations/01-email-triage-autoreply.json
{
  "name": "ME-01 | Email Triage + Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Polls inbox every 5 minutes. Adjust interval as needed."
    },
    {
      "parameters": {
        "operation": "getAll",
        "mailbox": "INBOX",
        "limit": 20,
        "filters": {
          "seen": false
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.imap",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_IMAP_CREDENTIAL_ID",
          "name": "Client IMAP Account"
        }
      },
      "notes": "SETUP: Add IMAP credentials. Works with Gmail (enable IMAP + App Password), Outlook, or any IMAP server."
    },
    {
      "parameters": {
        "jsCode": "// Classify each email by urgency based on keywords in subject/body\n// Returns: URGENT, NORMAL, or LOW\n\nconst items = $input.all();\nconst results = [];\n\nconst urgentKeywords = [\n  'urgent', 'asap', 'emergency', 'immediately', 'critical',\n  'help', 'broken', 'down', 'failure', 'refund', 'complaint',\n  'dringend', 'sofort', 'notfall' // German keywords too\n];\n\nconst lowKeywords = [\n  'newsletter', 'unsubscribe', 'noreply', 'no-reply',\n  'promotional', 'offer', 'discount', 'sale', 'subscribe'\n];\n\nfor (const item of items) {\n  const subject = (item.json.subject || '').toLowerCase();\n  const body = (item.json.text || item.json.html || '').toLowerCase().slice(0, 500);\n  const from = (item.json.from?.value?.[0]?.address || '').toLowerCase();\n  const combined = subject + ' ' + body + ' ' + from;\n\n  let priority = 'NORMAL';\n  let reason = 'Standard email';\n\n  if (urgentKeywords.some(kw => combined.includes(kw))) {\n    priority = 'URGENT';\n    reason = 'Contains urgent keyword';\n  } else if (lowKeywords.some(kw => combined.includes(kw)) || from.includes('noreply')) {\n    priority = 'LOW';\n    reason = 'Likely promotional or automated';\n  }\n\n  results.push({\n    json: {\n      ...item.json,\n      priority,\n      priorityReason: reason,\n      senderEmail: item.json.from?.value?.[0]?.address || '',\n      senderName: item.json.from?.value?.[0]?.name || 'Valued Customer',\n      receivedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Classify Email Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "CUSTOMIZE: Add your own keywords to urgentKeywords/lowKeywords arrays."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "equals",
              "value2": "URGENT"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Splits into URGENT vs NORMAL/LOW paths"
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $json.senderEmail }}",
        "subject": "Re: {{ $json.subject }} — We're On It [Urgent]",
        "emailType": "text",
        "message": "Hi {{ $json.senderName }},\n\nThank you for reaching out. We've flagged your message as urgent and a team member will respond within 2 hours.\n\nIf this is a critical emergency, please call us directly at: [REPLACE_WITH_PHONE_NUMBER]\n\nYour reference number: {{ $json.messageId }}\n\nBest regards,\n[REPLACE_WITH_COMPANY_NAME] Support Team",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Send Urgent Auto-Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 160],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Client SMTP Account"
        }
      },
      "notes": "CUSTOMIZE: Edit the email template. Replace [REPLACE_WITH_*] placeholders."
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $json.senderEmail }}",
        "subject": "Re: {{ $json.subject }} — Thanks for contacting us",
        "emailType": "text",
        "message": "Hi {{ $json.senderName }},\n\nThank you for getting in touch! We've received your message and will get back to you within 24 hours.\n\nWant a faster answer? Check our FAQ at: [REPLACE_WITH_FAQ_URL]\n\nBest regards,\n[REPLACE_WITH_COMPANY_NAME] Team",
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Send Standard Auto-Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 400],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Client SMTP Account"
        }
      },
      "notes": "CUSTOMIZE: Edit the standard reply template. LOW priority emails also get this reply."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "notEquals",
              "value2": "LOW"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Skip Low Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 480],
      "notes": "LOW priority emails (newsletters, etc.) don't get auto-replies to avoid spam loops"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.receivedAt }}",
            "From": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Priority": "={{ $json.priority }}",
            "Reason": "={{ $json.priorityReason }}",
            "MessageID": "={{ $json.messageId }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      },
      "notes": "SETUP: Create a Google Sheet with tab named 'Email_Log'. Replace the sheet ID."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Classify Email Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email Priority": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Send Urgent Auto-Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Low Priority?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Low Priority?": {
      "main": [
        [
          {
            "node": "Send Standard Auto-Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Auto-Reply": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Standard Auto-Reply": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["motion-elevation", "email", "triage", "auto-reply"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Email Automation",
      "deployTime": "~30 minutes",
      "credentialsNeeded": ["IMAP", "SMTP", "Google Sheets OAuth2"],
      "description": "Automatically triages incoming emails by urgency, sends appropriate auto-reply, and logs everything to a Google Sheet."
    }
  }
}
