projects/job-replacement/automations/02-lead-capture-crm.json
{
  "name": "ME-02 | Lead Capture → CRM Entry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "REPLACE_WITH_UNIQUE_WEBHOOK_ID",
      "notes": "SETUP: Copy the webhook URL and paste it into your website contact form, Typeform, or any lead capture tool. POST body should include: name, email, phone (optional), message (optional), source."
    },
    {
      "parameters": {
        "jsCode": "// Validate and normalize incoming lead data\nconst data = $input.first().json.body || $input.first().json;\n\n// Extract fields with fallbacks\nconst name = (data.name || data.full_name || data.firstName + ' ' + data.lastName || '').trim();\nconst email = (data.email || data.email_address || '').toLowerCase().trim();\nconst phone = (data.phone || data.phone_number || data.tel || '').trim();\nconst message = (data.message || data.notes || data.comment || '').trim();\nconst source = (data.source || data.utm_source || data.referrer || 'Unknown').trim();\nconst company = (data.company || data.business || data.organization || '').trim();\n\n// Basic email validation\nconst emailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\nif (!emailValid) {\n  throw new Error(`Invalid email address: ${email}`);\n}\n\nif (!name) {\n  throw new Error('Name is required');\n}\n\n// Score lead (0-100) based on completeness\nlet score = 50; // base score\nif (phone) score += 15;\nif (message && message.length > 20) score += 20;\nif (company) score += 15;\n\nconst timestamp = new Date().toISOString();\nconst leadId = 'LEAD-' + Date.now();\n\nreturn [{\n  json: {\n    leadId,\n    name,\n    email,\n    phone,\n    message,\n    source,\n    company,\n    score,\n    status: 'New',\n    createdAt: timestamp,\n    rawData: data\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validate & Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Normalizes field names from any form builder. Validates email. Scores the lead 0-100 based on data completeness."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.leadId }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Company": "={{ $json.company }}",
            "Message": "={{ $json.message }}",
            "Source": "={{ $json.source }}",
            "Score": "={{ $json.score }}",
            "Status": "={{ $json.status }}",
            "Created At": "={{ $json.createdAt }}"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Add to Google Sheet CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      },
      "notes": "SETUP: Create a Google Sheet with columns: Lead ID, Name, Email, Phone, Company, Message, Source, Score, Status, Created At. Replace sheet ID above."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_CRM_API_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_CRM_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "firstName",
              "value": "={{ $json.name.split(' ')[0] }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.name.split(' ').slice(1).join(' ') }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.message }}"
            },
            {
              "name": "tags",
              "value": "lead,motion-elevation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Push to CRM API (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380],
      "notes": "OPTIONAL: Replace URL and API key with your CRM (HubSpot, Pipedrive, GoHighLevel, etc.). Delete this node if using Google Sheets only. For HubSpot: use https://api.hubapi.com/crm/v3/objects/contacts"
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $json.email }}",
        "subject": "Thanks for reaching out, {{ $json.name.split(' ')[0] }}! 👋",
        "emailType": "html",
        "message": "<html><body style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\n<h2>Hey {{ $json.name.split(' ')[0] }}, thanks for getting in touch!</h2>\n<p>We've received your message and will get back to you within <strong>24 hours</strong>.</p>\n<p>Here's what you submitted:</p>\n<ul>\n  <li><strong>Name:</strong> {{ $json.name }}</li>\n  <li><strong>Email:</strong> {{ $json.email }}</li>\n  {{ $json.company ? '<li><strong>Company:</strong> ' + $json.company + '</li>' : '' }}\n</ul>\n<p>In the meantime, feel free to check out our work at <a href='REPLACE_WITH_WEBSITE_URL'>our website</a>.</p>\n<br>\n<p>Best,<br><strong>[REPLACE_WITH_YOUR_NAME]</strong><br>[REPLACE_WITH_COMPANY_NAME]</p>\n</body></html>",
        "options": {}
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Send Lead Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 180],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Client SMTP Account"
        }
      },
      "notes": "CUSTOMIZE: Edit the confirmation email. The lead gets this immediately after submitting."
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "REPLACE_WITH_OWNER_EMAIL",
        "subject": "🔥 New Lead: {{ $json.name }} (Score: {{ $json.score }}/100)",
        "emailType": "html",
        "message": "<html><body style='font-family: Arial, sans-serif;'>\n<h2>New Lead Alert</h2>\n<table style='border-collapse: collapse; width: 100%;'>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Lead ID</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.leadId }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Name</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.name }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Email</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.email }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Phone</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.phone || 'Not provided' }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Company</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.company || 'Not provided' }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Source</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.source }}</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Lead Score</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.score }}/100</td></tr>\n  <tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Message</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.message || 'None' }}</td></tr>\n</table>\n</body></html>",
        "options": {}
      },
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Notify Business Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 380],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Client SMTP Account"
        }
      },
      "notes": "SETUP: Replace REPLACE_WITH_OWNER_EMAIL with the business owner's email."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $json.leadId, message: 'Lead captured successfully' }) }}"
      },
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Returns a 200 OK response to the form/webhook caller with the lead ID."
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [
        [
          {
            "node": "Validate & Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheet CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to CRM API (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheet CRM": {
      "main": [
        [
          {
            "node": "Send Lead Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to CRM API (Optional)": {
      "main": [
        [
          {
            "node": "Notify Business Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Lead Confirmation Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Business Owner": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["motion-elevation", "lead-capture", "crm", "webhook"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Sales Automation",
      "deployTime": "~45 minutes",
      "credentialsNeeded": ["SMTP", "Google Sheets OAuth2", "CRM API Key (optional)"],
      "description": "Webhook-based lead capture. Validates and scores the lead, logs to Google Sheets, optionally pushes to a CRM API, confirms receipt to the lead, and alerts the business owner."
    }
  }
}
