projects/job-replacement/automations/03-invoice-reminder.json
{
  "name": "ME-03 | Invoice Reminder Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0001-0001-0001-000000000001",
      "name": "Daily 8AM Trigger (Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Runs every weekday at 8:00 AM. Adjust cron expression for your timezone. Format: 'minute hour day month weekday'."
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "name"
        },
        "filters": {},
        "options": {}
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "Read Invoices Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      },
      "notes": "SETUP: Create Google Sheet 'Invoices' with columns: Invoice_ID, Client_Name, Client_Email, Amount, Currency, Due_Date, Status, Reminder_Count, Last_Reminder_Date. Status values: Unpaid, Paid, Overdue, Cancelled."
    },
    {
      "parameters": {
        "jsCode": "// Filter for invoices that need reminders\nconst items = $input.all();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst needsReminder = [];\n\nfor (const item of items) {\n  const inv = item.json;\n  \n  // Skip paid or cancelled invoices\n  if (!inv.Invoice_ID || inv.Status === 'Paid' || inv.Status === 'Cancelled') {\n    continue;\n  }\n  \n  const dueDate = new Date(inv.Due_Date);\n  dueDate.setHours(0, 0, 0, 0);\n  \n  if (isNaN(dueDate.getTime())) continue; // skip invalid dates\n  \n  const daysPastDue = Math.floor((today - dueDate) / (1000 * 60 * 60 * 24));\n  const reminderCount = parseInt(inv.Reminder_Count || '0');\n  \n  let shouldRemind = false;\n  let reminderType = '';\n  \n  // Reminder schedule:\n  // Day -3: Pre-due reminder (gentle heads-up)\n  // Day 0: Due today reminder\n  // Day 3: First overdue reminder\n  // Day 7: Second overdue (firmer tone)\n  // Day 14: Third overdue (urgent)\n  // Day 30: Final notice\n  \n  const lastReminder = inv.Last_Reminder_Date ? new Date(inv.Last_Reminder_Date) : null;\n  const daysSinceLastReminder = lastReminder \n    ? Math.floor((today - lastReminder) / (1000 * 60 * 60 * 24))\n    : 999;\n  \n  if (daysPastDue === -3 && reminderCount === 0) {\n    shouldRemind = true;\n    reminderType = 'pre_due';\n  } else if (daysPastDue === 0 && reminderCount <= 1) {\n    shouldRemind = true;\n    reminderType = 'due_today';\n  } else if (daysPastDue === 3 && reminderCount <= 2) {\n    shouldRemind = true;\n    reminderType = 'overdue_gentle';\n  } else if (daysPastDue === 7 && reminderCount <= 3) {\n    shouldRemind = true;\n    reminderType = 'overdue_firm';\n  } else if (daysPastDue === 14 && reminderCount <= 4) {\n    shouldRemind = true;\n    reminderType = 'overdue_urgent';\n  } else if (daysPastDue >= 30 && reminderCount <= 5 && daysSinceLastReminder >= 14) {\n    shouldRemind = true;\n    reminderType = 'final_notice';\n  }\n  \n  if (shouldRemind) {\n    needsReminder.push({\n      json: {\n        ...inv,\n        daysPastDue,\n        reminderType,\n        reminderCount,\n        formattedAmount: `${inv.Amount} ${inv.Currency || 'EUR'}`,\n        formattedDueDate: dueDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })\n      }\n    });\n  }\n}\n\nif (needsReminder.length === 0) {\n  // Return a dummy item so the workflow doesn't error\n  return [{ json: { noRemindersNeeded: true } }];\n}\n\nreturn needsReminder;"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Filter Overdue Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "CUSTOMIZE: Adjust the reminder schedule (daysPastDue thresholds) to match your business terms."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noRemindersNeeded }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c3d4e5f6-0004-0004-0004-000000000004",
      "name": "Any Reminders Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "If no invoices need reminders today, the workflow stops cleanly here."
    },
    {
      "parameters": {
        "jsCode": "// Build the email content based on reminder type\nconst inv = $input.first().json;\n\nconst templates = {\n  pre_due: {\n    subject: `Reminder: Invoice ${inv.Invoice_ID} due in 3 days`,\n    body: `Hi ${inv.Client_Name},\n\nJust a friendly heads-up that invoice ${inv.Invoice_ID} for ${inv.formattedAmount} is due on ${inv.formattedDueDate}.\n\nIf you have any questions about this invoice, please don't hesitate to reach out.\n\nThank you for your continued business!\n\nBest regards,\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  },\n  due_today: {\n    subject: `Invoice ${inv.Invoice_ID} is due today`,\n    body: `Hi ${inv.Client_Name},\n\nThis is a reminder that invoice ${inv.Invoice_ID} for ${inv.formattedAmount} is due today (${inv.formattedDueDate}).\n\nPlease process payment at your earliest convenience. If payment has already been made, please disregard this notice.\n\nPayment details:\n- Invoice: ${inv.Invoice_ID}\n- Amount: ${inv.formattedAmount}\n- Due Date: ${inv.formattedDueDate}\n\nThank you,\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  },\n  overdue_gentle: {\n    subject: `Invoice ${inv.Invoice_ID} — 3 days overdue`,\n    body: `Hi ${inv.Client_Name},\n\nI hope you're doing well. I wanted to follow up on invoice ${inv.Invoice_ID} for ${inv.formattedAmount}, which was due on ${inv.formattedDueDate}.\n\nWe haven't received payment yet. If there are any issues or if you need to discuss payment arrangements, please let us know.\n\nBest regards,\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  },\n  overdue_firm: {\n    subject: `OVERDUE: Invoice ${inv.Invoice_ID} — Action required`,\n    body: `Hi ${inv.Client_Name},\n\nThis is our second notice regarding invoice ${inv.Invoice_ID} for ${inv.formattedAmount}, now 7 days overdue (due ${inv.formattedDueDate}).\n\nWe kindly request that you process this payment as soon as possible. If you've already sent payment, please confirm so we can update our records.\n\nIf you have any concerns, please contact us immediately.\n\nRegards,\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  },\n  overdue_urgent: {\n    subject: `URGENT: Invoice ${inv.Invoice_ID} — 14 days overdue`,\n    body: `Hi ${inv.Client_Name},\n\nDespite previous reminders, invoice ${inv.Invoice_ID} for ${inv.formattedAmount} remains unpaid after 14 days.\n\nWe require immediate payment to avoid further action. Please reply to this email or contact us at [REPLACE_WITH_PHONE] to arrange payment.\n\nInvoice: ${inv.Invoice_ID}\nAmount Due: ${inv.formattedAmount}\nOriginal Due Date: ${inv.formattedDueDate}\n\nIf payment was recently made, please disregard this notice and send us your payment confirmation.\n\nSincerely,\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  },\n  final_notice: {\n    subject: `FINAL NOTICE: Invoice ${inv.Invoice_ID}`,\n    body: `Hi ${inv.Client_Name},\n\nThis is your final notice regarding invoice ${inv.Invoice_ID} for ${inv.formattedAmount}, which is now ${inv.daysPastDue} days overdue.\n\nIf we do not receive payment or a response within 7 days, we may be required to escalate this matter.\n\nPlease contact us immediately at [REPLACE_WITH_EMAIL] or [REPLACE_WITH_PHONE].\n\n[REPLACE_WITH_YOUR_NAME]\n[REPLACE_WITH_COMPANY_NAME]`\n  }\n};\n\nconst template = templates[inv.reminderType] || templates.overdue_gentle;\n\nreturn [{\n  json: {\n    ...inv,\n    emailSubject: template.subject,\n    emailBody: template.body\n  }\n}];"
      },
      "id": "c3d4e5f6-0005-0005-0005-000000000005",
      "name": "Build Reminder Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "notes": "CUSTOMIZE: Edit the email templates in the templates object. Replace all [REPLACE_WITH_*] placeholders with real info."
    },
    {
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $json.Client_Email }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "c3d4e5f6-0006-0006-0006-000000000006",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Client SMTP Account"
        }
      },
      "notes": "SETUP: Add SMTP credentials. The email is sent from the authenticated account."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reminder_Count": "={{ parseInt($json.reminderCount) + 1 }}",
            "Last_Reminder_Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Status": "={{ $json.daysPastDue > 0 ? 'Overdue' : 'Unpaid' }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "Invoice_ID",
              "value": "={{ $json.Invoice_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0007-0007-0007-000000000007",
      "name": "Update Reminder Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      },
      "notes": "Updates the Reminder_Count and Last_Reminder_Date in the sheet so the same invoice isn't reminded again too soon."
    }
  ],
  "connections": {
    "Daily 8AM Trigger (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Read Invoices Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Invoices Sheet": {
      "main": [
        [
          {
            "node": "Filter Overdue Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Overdue Invoices": {
      "main": [
        [
          {
            "node": "Any Reminders Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Reminders Needed?": {
      "main": [
        [],
        [
          {
            "node": "Build Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Email": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Update Reminder Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["motion-elevation", "invoices", "reminders", "finance"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Finance Automation",
      "deployTime": "~30 minutes",
      "credentialsNeeded": ["SMTP", "Google Sheets OAuth2"],
      "description": "Daily invoice reminder system. Reads unpaid invoices from a Google Sheet and sends escalating reminder emails at: -3 days (pre-due), due day, +3, +7, +14, +30 days. Tracks reminder count to avoid duplicate sends."
    }
  }
}
