projects/job-replacement/automations/10-whatsapp-telegram-alerts.json
{
  "name": "ME-10 | WhatsApp/Telegram Business Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0a1b2c3-1001-1001-1001-100000000001",
      "name": "Webhook: New Lead Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 140],
      "notes": "SETUP: Fire this webhook from your lead capture workflow (ME-02) or any form. POST { event_type: 'new_lead', name, email, source, details }"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0a1b2c3-1002-1002-1002-100000000002",
      "name": "Webhook: Payment Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 280],
      "notes": "POST { event_type: 'payment_received', customer_name, amount, currency, product }"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-escalation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0a1b2c3-1003-1003-1003-100000000003",
      "name": "Webhook: Chatbot Escalation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "notes": "POST { event_type: 'chatbot_escalation', customer_name, email, message, session_id }"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-invoice-overdue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0a1b2c3-1004-1004-1004-100000000004",
      "name": "Webhook: Invoice Overdue",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560],
      "notes": "POST { event_type: 'invoice_overdue', client_name, invoice_id, amount, days_overdue }"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-workflow-error",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f0a1b2c3-1005-1005-1005-100000000005",
      "name": "Webhook: Workflow Error",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700],
      "notes": "POST { event_type: 'workflow_error', workflow_name, error_message, timestamp }"
    },
    {
      "parameters": {
        "jsCode": "// Format any incoming alert into a clean Telegram message\nconst body = $input.first().json.body || $input.first().json;\nconst eventType = body.event_type || 'unknown';\nconst ts = new Date().toLocaleString('en-GB', { \n  timeZone: 'Europe/Berlin',\n  day: '2-digit', month: 'short', year: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nlet emoji = '🔔';\nlet title = 'Alert';\nlet details = '';\nlet urgency = '⚪ Low';\nlet actionNeeded = 'Review when convenient.';\n\nswitch (eventType) {\n  case 'new_lead':\n    emoji = '🎯';\n    title = 'New Lead';\n    urgency = '🟡 Medium';\n    actionNeeded = 'Review and follow up within 2 hours.';\n    details = [\n      `👤 Name: ${body.name || 'Unknown'}`,\n      `📧 Email: ${body.email || 'Unknown'}`,\n      `📍 Source: ${body.source || 'Unknown'}`,\n      body.details ? `📝 Notes: ${body.details}` : ''\n    ].filter(Boolean).join('\\n');\n    break;\n\n  case 'payment_received':\n    emoji = '💰';\n    title = 'Payment Received';\n    urgency = '🟢 Info';\n    actionNeeded = 'No action needed — log for records.';\n    details = [\n      `👤 Client: ${body.customer_name || 'Unknown'}`,\n      `💶 Amount: ${body.currency || 'EUR'} ${body.amount || '0.00'}`,\n      `📦 Product: ${body.product || 'Unknown'}`,\n    ].join('\\n');\n    break;\n\n  case 'chatbot_escalation':\n    emoji = '🆘';\n    title = 'Chatbot Escalation — Human Needed';\n    urgency = '🔴 Urgent';\n    actionNeeded = 'Reply to customer within 30 minutes.';\n    details = [\n      `👤 Customer: ${body.customer_name || 'Unknown'}`,\n      `📧 Email: ${body.email || 'Unknown'}`,\n      `💬 Message: \"${(body.message || '').slice(0, 200)}\"`,\n      `🆔 Session: ${body.session_id || 'N/A'}`\n    ].join('\\n');\n    break;\n\n  case 'invoice_overdue':\n    emoji = '⚠️';\n    title = 'Invoice Overdue';\n    urgency = '🔴 Urgent';\n    actionNeeded = 'Call or email client today.';\n    details = [\n      `👤 Client: ${body.client_name || 'Unknown'}`,\n      `🧾 Invoice: ${body.invoice_id || 'Unknown'}`,\n      `💶 Amount: €${body.amount || '0.00'}`,\n      `📅 Days Overdue: ${body.days_overdue || '?'} days`\n    ].join('\\n');\n    break;\n\n  case 'workflow_error':\n    emoji = '🚨';\n    title = 'Workflow Error';\n    urgency = '🔴 Critical';\n    actionNeeded = 'Check n8n execution logs immediately.';\n    details = [\n      `⚙️ Workflow: ${body.workflow_name || 'Unknown'}`,\n      `❌ Error: ${(body.error_message || 'Unknown error').slice(0, 200)}`,\n      `🕐 Time: ${body.timestamp || ts}`\n    ].join('\\n');\n    break;\n\n  default:\n    emoji = '📢';\n    title = 'Business Alert';\n    details = JSON.stringify(body, null, 2).slice(0, 500);\n}\n\nconst message = [\n  `${emoji} *${title}*`,\n  `━━━━━━━━━━━━━━━━━━━━`,\n  details,\n  `━━━━━━━━━━━━━━━━━━━━`,\n  `🕐 ${ts}`,\n  `📊 Priority: ${urgency}`,\n  `✅ Action: ${actionNeeded}`\n].join('\\n');\n\nreturn [{ json: { message, event_type: eventType, timestamp: ts } }];"
      },
      "id": "f0a1b2c3-1006-1006-1006-100000000006",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 420],
      "notes": "Formats all incoming alerts into clean, emoji-rich Telegram messages."
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "id": "f0a1b2c3-1007-1007-1007-100000000007",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 420],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram - Motion Elevation Bot"
        }
      },
      "notes": "SETUP:\n1. Create a Telegram bot via @BotFather → get the API token\n2. Start a chat with your bot and send /start\n3. Get your chat ID: https://api.telegram.org/bot<TOKEN>/getUpdates\n4. Replace REPLACE_WITH_TELEGRAM_CHAT_ID with your chat ID (e.g. 123456789)\n5. Add credentials in n8n: Settings → Credentials → Telegram API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"alert_sent\", \"event\": \"{{ $('Format Alert Message').first().json.event_type }}\" }"
      },
      "id": "f0a1b2c3-1008-1008-1008-100000000008",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alert_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Format Alert Message').first().json.timestamp }}",
            "Event_Type": "={{ $('Format Alert Message').first().json.event_type }}",
            "Message_Preview": "={{ $('Format Alert Message').first().json.message.slice(0, 200) }}"
          }
        },
        "options": {}
      },
      "id": "f0a1b2c3-1009-1009-1009-100000000009",
      "name": "Log Alert to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1080, 280],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      },
      "notes": "SETUP: Create sheet tab 'Alert_Log' with columns: Timestamp | Event_Type | Message_Preview"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "f0a1b2c3-1010-1010-1010-100000000010",
      "name": "Schedule: Daily Digest 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 900],
      "notes": "Fires at 6pm every day. Adjust timezone in n8n Settings → General."
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alert_Log",
          "mode": "name"
        },
        "filters": {},
        "options": {}
      },
      "id": "f0a1b2c3-1011-1011-1011-100000000011",
      "name": "Read Today's Alerts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [460, 900],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build daily digest from today's alert log\nconst items = $input.all();\nconst today = new Date().toDateString();\n\n// Filter to today's alerts only\nconst todayAlerts = items.filter(item => {\n  const ts = item.json.Timestamp || item.json.timestamp || '';\n  try {\n    return new Date(ts).toDateString() === today;\n  } catch { return false; }\n});\n\n// Count by event type\nconst counts = {};\nfor (const alert of todayAlerts) {\n  const type = alert.json.Event_Type || alert.json.event_type || 'unknown';\n  counts[type] = (counts[type] || 0) + 1;\n}\n\nconst countLines = Object.entries(counts).map(([type, count]) => {\n  const emojis = {\n    new_lead: '🎯',\n    payment_received: '💰',\n    chatbot_escalation: '🆘',\n    invoice_overdue: '⚠️',\n    workflow_error: '🚨'\n  };\n  const label = type.replace(/_/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  return `${emojis[type] || '🔔'} ${label}: ${count}`;\n});\n\nconst now = new Date().toLocaleDateString('en-GB', {\n  weekday: 'long', day: '2-digit', month: 'short'\n});\n\nconst message = todayAlerts.length > 0\n  ? [\n      `📊 *Daily Business Digest — ${now}*`,\n      `━━━━━━━━━━━━━━━━━━━━`,\n      `Total alerts today: *${todayAlerts.length}*`,\n      '',\n      ...countLines,\n      `━━━━━━━━━━━━━━━━━━━━`,\n      `✅ End of day summary complete. See you tomorrow!`\n    ].join('\\n')\n  : `📊 *Daily Digest — ${now}*\\n\\n✅ Quiet day — no alerts fired today. All systems running smoothly.`;\n\nreturn [{ json: { message, alert_count: todayAlerts.length } }];"
      },
      "id": "f0a1b2c3-1012-1012-1012-100000000012",
      "name": "Build Daily Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 900]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": true
        }
      },
      "id": "f0a1b2c3-1013-1013-1013-100000000013",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 900],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram - Motion Elevation Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconsole.error('ME-10 Error:', JSON.stringify(error));\nreturn [{ json: { error: true, message: error.message || 'Alert system error', timestamp: new Date().toISOString() } }];"
      },
      "id": "f0a1b2c3-1014-1014-1014-100000000014",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 640],
      "notes": "Catches errors. If Telegram fails, check bot token and chat ID."
    }
  ],
  "connections": {
    "Webhook: New Lead Alert": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Payment Received": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Chatbot Escalation": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Invoice Overdue": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Workflow Error": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Log Alert to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert to Sheet": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Daily Digest 6pm": {
      "main": [
        [
          {
            "node": "Read Today's Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today's Alerts": {
      "main": [
        [
          {
            "node": "Build Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["motion-elevation", "telegram", "notifications", "alerts", "business"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Business Intelligence Automation",
      "deployTime": "~30 minutes",
      "credentialsNeeded": ["Telegram API", "Google Sheets OAuth2"],
      "description": "SETUP README:\n\nTHIS WORKFLOW PROVIDES:\n  5 Webhook endpoints (one per alert type)\n  Real-time Telegram messages\n  Daily 6pm digest summary\n  Alert log in Google Sheets\n\nTELEGRAM SETUP:\n1. Message @BotFather on Telegram → /newbot → follow steps → copy the API token\n2. Start a chat with your new bot\n3. Get your chat ID:\n   a) Send a message to your bot\n   b) Visit: https://api.telegram.org/bot<YOUR_TOKEN>/getUpdates\n   c) Find 'chat' → 'id' in the response\n4. In n8n: Settings → Credentials → New → Telegram API → paste token\n5. Replace REPLACE_WITH_TELEGRAM_CHAT_ID with your chat ID\n6. Replace REPLACE_WITH_TELEGRAM_CREDENTIAL_ID with the n8n credential ID\n\nWEBHOOK ENDPOINTS (copy from n8n after activating):\n  /alert-new-lead          → Call from lead capture workflows\n  /alert-payment           → Call from payment/Stripe webhooks\n  /alert-escalation        → Call from chatbot workflow (ME-04)\n  /alert-invoice-overdue   → Call from invoice workflow (ME-03)\n  /alert-workflow-error    → Call from any workflow's error handler\n\nINTEGRATION EXAMPLE (from ME-03 Invoice Reminder):\n  Add an HTTP Request node after overdue detection:\n  POST to /alert-invoice-overdue with body:\n  { event_type: 'invoice_overdue', client_name: ..., invoice_id: ..., amount: ..., days_overdue: ... }\n\nGOOGLE SHEETS TAB 'Alert_Log':\n  Timestamp | Event_Type | Message_Preview\n\nWHATSAPP ALTERNATIVE:\n  Replace the Telegram nodes with WhatsApp Business API via Twilio:\n  - Use n8n-nodes-base.twilio node\n  - Set toNumber: whatsapp:+REPLACE_WITH_YOUR_WHATSAPP_NUMBER\n  - Requires a Twilio account with WhatsApp Business API access"
    }
  }
}
