projects/job-replacement/automations/12-dental-followup-review.json
{
  "name": "ME-12 | Dental Clinic — Patient Follow-Up + Review Request",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "me12-0001-0001-0001-000000000001",
      "name": "Schedule: Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Runs every morning at 9am. Checks who needs a post-visit follow-up or review request today."
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "name"
        },
        "filters": {},
        "options": {}
      },
      "id": "me12-0002-0002-0002-000000000002",
      "name": "Read Patients Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      },
      "notes": "Sheet tab: Patients. Columns: Name | Email | Phone | Visit_Date | Treatment | Followup_Sent | Review_Sent | Recall_Sent | Notes"
    },
    {
      "parameters": {
        "jsCode": "// Classify patients by what they need today\nconst items = $input.all();\nconst now = new Date();\nnow.setHours(0,0,0,0);\n\nconst actions = [];\n\nfor (const item of items) {\n  const row = item.json;\n  if (!row.Email || !row.Visit_Date) continue;\n\n  let visitDate;\n  try {\n    visitDate = new Date(row.Visit_Date);\n    visitDate.setHours(0,0,0,0);\n    if (isNaN(visitDate)) continue;\n  } catch { continue; }\n\n  const daysSinceVisit = Math.round((now - visitDate) / (1000 * 60 * 60 * 24));\n\n  const base = {\n    name: row.Name || 'Patient',\n    email: row.Email,\n    phone: row.Phone || '',\n    visit_date: row.Visit_Date,\n    treatment: row.Treatment || 'your treatment',\n    followup_sent: row.Followup_Sent || '',\n    review_sent: row.Review_Sent || '',\n    recall_sent: row.Recall_Sent || '',\n    days_since_visit: daysSinceVisit\n  };\n\n  // Day 1 post-visit: care instructions follow-up\n  if (daysSinceVisit === 1 && base.followup_sent !== 'Yes') {\n    actions.push({ json: { ...base, _action: 'followup' } });\n  }\n\n  // Day 3: review request (only if followup was sent)\n  if (daysSinceVisit === 3 && base.followup_sent === 'Yes' && base.review_sent !== 'Yes') {\n    actions.push({ json: { ...base, _action: 'review_request' } });\n  }\n\n  // 6-month recall reminder\n  if (daysSinceVisit === 180 && base.recall_sent !== 'Yes') {\n    actions.push({ json: { ...base, _action: 'recall' } });\n  }\n}\n\nconsole.log(`Dental actions today: ${actions.length}`);\nreturn actions.length > 0 ? actions : [{ json: { _action: 'none' } }];"
      },
      "id": "me12-0003-0003-0003-000000000003",
      "name": "Classify Patient Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "followup",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "followup",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "review_request",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "review_request",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "recall",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "recall",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ],
          "fallbackOutput": "none"
        },
        "options": {}
      },
      "id": "me12-0004-0004-0004-000000000004",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=After your visit — care tips from REPLACE_WITH_CLINIC_NAME",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #f8fafc;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #0ea5e9;\">\n  <h2 style=\"color: #0f172a;\">Hi {{ $json.name }}, hope you're feeling great! 🦷</h2>\n  <p>Thank you for visiting us yesterday for <strong>{{ $json.treatment }}</strong>. Here are a few tips to help your recovery:</p>\n  <ul style=\"line-height: 1.8; color: #334155;\">\n    <li>Avoid very hot or cold foods for the next 24 hours</li>\n    <li>Rinse gently with warm salt water if there's any soreness</li>\n    <li>Take any prescribed medication as directed</li>\n    <li>If you experience unusual pain or swelling, call us immediately</li>\n  </ul>\n  <div style=\"background: #f0f9ff; padding: 16px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"margin: 0; color: #0369a1;\"><strong>📞 Questions?</strong> Call us anytime at <strong>REPLACE_WITH_CLINIC_PHONE</strong></p>\n  </div>\n  <p>We look forward to seeing you at your next visit!</p>\n  <p style=\"color: #94a3b8; font-size: 12px;\">— REPLACE_WITH_CLINIC_NAME | REPLACE_WITH_CLINIC_ADDRESS</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me12-0005-0005-0005-000000000005",
      "name": "Send Follow-Up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 120],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.name }}, could you leave us a quick review? ⭐",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #f8fafc;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #f59e0b;\">\n  <h2 style=\"color: #0f172a;\">How was your experience? ⭐</h2>\n  <p>Hi {{ $json.name }},</p>\n  <p>We hope you've been recovering well after your recent <strong>{{ $json.treatment }}</strong> with us. Your experience means a lot to our team.</p>\n  <p>If you have a moment, we'd be incredibly grateful if you could share your experience on Google — it helps other patients find us and choose quality care:</p>\n  <p style=\"text-align: center; margin: 28px 0;\">\n    <a href=\"REPLACE_WITH_GOOGLE_REVIEW_URL\" style=\"background: #f59e0b; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 16px;\">⭐ Leave a Google Review</a>\n  </p>\n  <p style=\"color: #64748b;\">It takes less than 2 minutes and makes a huge difference. Thank you so much! 🙏</p>\n  <p style=\"color: #94a3b8; font-size: 12px;\">— The Team at REPLACE_WITH_CLINIC_NAME</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me12-0006-0006-0006-000000000006",
      "name": "Send Review Request Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=Time for your 6-month check-up, {{ $json.name }}! 🦷",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #f8fafc;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #10b981;\">\n  <h2 style=\"color: #0f172a;\">It's time for your check-up! 🦷</h2>\n  <p>Hi {{ $json.name }},</p>\n  <p>It's been 6 months since your last visit with us. Regular check-ups are the best way to keep your smile healthy and catch any issues early.</p>\n  <div style=\"background: #f0fdf4; padding: 16px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"margin: 0; color: #15803d;\"><strong>✅ Last visit:</strong> {{ $json.visit_date }}<br><strong>🦷 Treatment:</strong> {{ $json.treatment }}</p>\n  </div>\n  <p style=\"text-align: center; margin: 28px 0;\">\n    <a href=\"REPLACE_WITH_BOOKING_URL\" style=\"background: #10b981; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 16px;\">📅 Book My Check-Up</a>\n  </p>\n  <p style=\"color: #64748b;\">Or call us at <strong>REPLACE_WITH_CLINIC_PHONE</strong> — we'd love to see you!</p>\n  <p style=\"color: #94a3b8; font-size: 12px;\">— REPLACE_WITH_CLINIC_NAME</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me12-0007-0007-0007-000000000007",
      "name": "Send 6-Month Recall Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 480],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Followup_Sent": "Yes"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "me12-0008-0008-0008-000000000008",
      "name": "Mark Followup Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Review_Sent": "Yes"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "me12-0009-0009-0009-000000000009",
      "name": "Mark Review Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Recall_Sent": "Yes"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "me12-0010-0010-0010-000000000010",
      "name": "Mark Recall Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 9am": {
      "main": [[{ "node": "Read Patients Sheet", "type": "main", "index": 0 }]]
    },
    "Read Patients Sheet": {
      "main": [[{ "node": "Classify Patient Actions", "type": "main", "index": 0 }]]
    },
    "Classify Patient Actions": {
      "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Send Follow-Up Email", "type": "main", "index": 0 }],
        [{ "node": "Send Review Request Email", "type": "main", "index": 0 }],
        [{ "node": "Send 6-Month Recall Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Follow-Up Email": {
      "main": [[{ "node": "Mark Followup Sent", "type": "main", "index": 0 }]]
    },
    "Send Review Request Email": {
      "main": [[{ "node": "Mark Review Sent", "type": "main", "index": 0 }]]
    },
    "Send 6-Month Recall Email": {
      "main": [[{ "node": "Mark Recall Sent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["motion-elevation", "dental", "healthcare", "review-request", "patient-followup", "recall"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Healthcare Automation",
      "deployTime": "~45 minutes",
      "credentialsNeeded": ["SMTP", "Google Sheets OAuth2"],
      "suggestedPrice": "€597 setup + €97/month",
      "description": "3-step patient journey: Day 1 care tips, Day 3 Google review request, Month 6 recall reminder."
    }
  }
}
