projects/job-replacement/automations/14-restaurant-reservation-noshow.json
{
  "name": "ME-14 | Restaurant — Reservation Confirmation + No-Show Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-reservation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "me14-0001-0001-0001-000000000001",
      "name": "Webhook: New Reservation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "restaurant-reservation-me14",
      "notes": "Receives reservation data from your booking widget/system. POST fields: name, email, phone, date, time, party_size, special_requests"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst name = body.name || body.Name || 'Guest';\nconst email = body.email || body.Email || '';\nconst phone = body.phone || body.Phone || '';\nconst date = body.date || body.Date || '';\nconst time = body.time || body.Time || '';\nconst partySize = body.party_size || body.party || body.guests || '2';\nconst specialRequests = body.special_requests || body.notes || '';\n\nif (!email) throw new Error('No email provided in reservation webhook');\n\n// Generate a simple confirmation code\nconst code = 'RES-' + Math.random().toString(36).substring(2, 8).toUpperCase();\n\nreturn [{\n  json: {\n    name,\n    email,\n    phone,\n    date,\n    time,\n    party_size: partySize,\n    special_requests: specialRequests,\n    confirmation_code: code,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "me14-0002-0002-0002-000000000002",
      "name": "Parse Reservation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Date": "={{ $json.date }}",
            "Time": "={{ $json.time }}",
            "Party_Size": "={{ $json.party_size }}",
            "Special_Requests": "={{ $json.special_requests }}",
            "Confirmation_Code": "={{ $json.confirmation_code }}",
            "Status": "Confirmed",
            "Reminder_Sent": "No",
            "Noshow_Followup_Sent": "No",
            "Review_Sent": "No",
            "Created_At": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "me14-0003-0003-0003-000000000003",
      "name": "Log Reservation to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=✅ Reservation confirmed — {{ $json.date }} at {{ $json.time }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #fafaf9;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #d97706;\">\n  <h2 style=\"color: #1c1917;\">Your table is reserved! 🍽️</h2>\n  <p>Hi {{ $json.name }}, we're looking forward to seeing you!</p>\n  <div style=\"background: #fef3c7; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"margin: 0;\"><strong>📅 Date:</strong> {{ $json.date }}</p>\n    <p style=\"margin: 8px 0 0;\"><strong>🕐 Time:</strong> {{ $json.time }}</p>\n    <p style=\"margin: 8px 0 0;\"><strong>👥 Party size:</strong> {{ $json.party_size }} guests</p>\n    <p style=\"margin: 8px 0 0;\"><strong>🔖 Confirmation:</strong> {{ $json.confirmation_code }}</p>\n    {{ $json.special_requests ? '<p style=\"margin: 8px 0 0;\"><strong>📝 Special requests:</strong> ' + $json.special_requests + '</p>' : '' }}\n  </div>\n  <p><strong>📍 Address:</strong> REPLACE_WITH_RESTAURANT_ADDRESS</p>\n  <p>Need to modify or cancel? Please let us know at least <strong>2 hours before</strong> your reservation.</p>\n  <p style=\"text-align: center; margin: 24px 0;\">\n    <a href=\"REPLACE_WITH_CANCEL_URL?code={{ $json.confirmation_code }}\" style=\"background: #ef4444; color: white; padding: 10px 24px; border-radius: 6px; text-decoration: none; margin-right: 8px;\">Cancel</a>\n    <a href=\"REPLACE_WITH_MODIFY_URL?code={{ $json.confirmation_code }}\" style=\"background: #d97706; color: white; padding: 10px 24px; border-radius: 6px; text-decoration: none;\">Modify</a>\n  </p>\n  <p style=\"color: #a8a29e; font-size: 12px;\">— REPLACE_WITH_RESTAURANT_NAME | REPLACE_WITH_RESTAURANT_PHONE</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me14-0004-0004-0004-000000000004",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"confirmation_code\": \"{{ $json.confirmation_code }}\", \"message\": \"Reservation confirmed! Check your email.\" }",
        "options": {}
      },
      "id": "me14-0005-0005-0005-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "me14-0006-0006-0006-000000000006",
      "name": "Schedule: Daily 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 700],
      "notes": "Second flow: Runs at 10am to send day-of reminders and check for no-shows from yesterday."
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "filters": {},
        "options": {}
      },
      "id": "me14-0007-0007-0007-000000000007",
      "name": "Read Reservations Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [460, 700],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nnow.setHours(0,0,0,0);\n\nconst today = now.toISOString().split('T')[0];\nconst yesterday = new Date(now - 86400000).toISOString().split('T')[0];\n\nconst actions = [];\n\nfor (const item of items) {\n  const row = item.json;\n  if (!row.Email || row.Status === 'Cancelled') continue;\n\n  const base = {\n    name: row.Name || 'Guest',\n    email: row.Email,\n    phone: row.Phone || '',\n    date: row.Date || '',\n    time: row.Time || '',\n    party_size: row.Party_Size || '2',\n    confirmation_code: row.Confirmation_Code || '',\n    status: row.Status || 'Confirmed',\n    reminder_sent: row.Reminder_Sent || 'No',\n    noshow_followup_sent: row.Noshow_Followup_Sent || 'No',\n    review_sent: row.Review_Sent || 'No'\n  };\n\n  // Day-of reminder\n  if (base.date === today && base.reminder_sent === 'No' && base.status === 'Confirmed') {\n    actions.push({ json: { ...base, _action: 'day_reminder' } });\n  }\n\n  // No-show follow-up: reservation was yesterday, status still 'Confirmed' (not 'Seated' or 'Completed')\n  if (base.date === yesterday && base.status === 'Confirmed' && base.noshow_followup_sent === 'No') {\n    actions.push({ json: { ...base, _action: 'noshow_followup' } });\n  }\n\n  // Review request: reservation was yesterday, status is 'Completed'\n  if (base.date === yesterday && base.status === 'Completed' && base.review_sent === 'No') {\n    actions.push({ json: { ...base, _action: 'review_request' } });\n  }\n}\n\nconsole.log(`Restaurant actions today: ${actions.length}`);\nreturn actions.length > 0 ? actions : [{ json: { _action: 'none' } }];"
      },
      "id": "me14-0008-0008-0008-000000000008",
      "name": "Classify Reservation Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 700]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "day_reminder",
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._action }}", "rightValue": "day_reminder", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "outputKey": "noshow_followup",
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._action }}", "rightValue": "noshow_followup", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "outputKey": "review_request",
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._action }}", "rightValue": "review_request", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            }
          ],
          "fallbackOutput": "none"
        },
        "options": {}
      },
      "id": "me14-0009-0009-0009-000000000009",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 700]
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=🍽️ Your table at REPLACE_WITH_RESTAURANT_NAME is tonight!",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #fafaf9;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #d97706;\">\n  <h2 style=\"color: #1c1917;\">See you tonight, {{ $json.name }}! 🍽️</h2>\n  <p>Just a quick reminder that your table is booked for <strong>tonight</strong>:</p>\n  <div style=\"background: #fef3c7; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"margin: 0;\"><strong>🕐 Time:</strong> {{ $json.time }}</p>\n    <p style=\"margin: 8px 0 0;\"><strong>👥 Party:</strong> {{ $json.party_size }} guests</p>\n    <p style=\"margin: 8px 0 0;\"><strong>📍 Address:</strong> REPLACE_WITH_RESTAURANT_ADDRESS</p>\n    <p style=\"margin: 8px 0 0;\"><strong>🔖 Ref:</strong> {{ $json.confirmation_code }}</p>\n  </div>\n  <p>Running late or need to cancel? Call us at <strong>REPLACE_WITH_RESTAURANT_PHONE</strong> — we'll hold your table for 15 minutes.</p>\n  <p style=\"color: #a8a29e; font-size: 12px;\">— REPLACE_WITH_RESTAURANT_NAME</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me14-0010-0010-0010-000000000010",
      "name": "Send Day-Of Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 580],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=We missed you last night, {{ $json.name }} — book again?",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #fafaf9;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #94a3b8;\">\n  <h2 style=\"color: #1c1917;\">We saved a table for you... 🥲</h2>\n  <p>Hi {{ $json.name }}, it looks like you weren't able to make it last night for your {{ $json.time }} reservation. No worries at all — things come up!</p>\n  <p>We'd love to have you in. Would you like to rebook?</p>\n  <p style=\"text-align: center; margin: 28px 0;\">\n    <a href=\"REPLACE_WITH_BOOKING_URL\" style=\"background: #d97706; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: bold;\">Reserve a New Table →</a>\n  </p>\n  <p style=\"color: #64748b; font-size: 14px;\">As a goodwill gesture, mention code <strong>WELCOME-BACK</strong> and we'll offer a complimentary drink for your party. 🥂</p>\n  <p style=\"color: #a8a29e; font-size: 12px;\">— REPLACE_WITH_RESTAURANT_NAME</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me14-0011-0011-0011-000000000011",
      "name": "Send No-Show Recovery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 740],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "={{ $json.email }}",
        "subject": "=How was your dinner, {{ $json.name }}? ⭐",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: sans-serif; max-width: 600px; margin: auto; padding: 20px; background: #fafaf9;\">\n<div style=\"background: white; padding: 32px; border-radius: 12px; border-top: 4px solid #10b981;\">\n  <h2 style=\"color: #1c1917;\">Thanks for dining with us! 🍷</h2>\n  <p>Hi {{ $json.name }}, it was a pleasure having you and your guests last night.</p>\n  <p>We'd love to know how your experience was — and if you enjoyed your evening, a quick Google review would mean the world to our small team:</p>\n  <p style=\"text-align: center; margin: 28px 0;\">\n    <a href=\"REPLACE_WITH_GOOGLE_REVIEW_URL\" style=\"background: #10b981; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: bold;\">⭐ Leave a Google Review</a>\n  </p>\n  <p style=\"color: #64748b;\">Already a regular? Share your favourite dish on Instagram and tag us at <strong>@REPLACE_WITH_INSTAGRAM_HANDLE</strong> 📸</p>\n  <p style=\"color: #a8a29e; font-size: 12px;\">— REPLACE_WITH_RESTAURANT_NAME | See you again soon!</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "me14-0012-0012-0012-000000000012",
      "name": "Send Post-Dinner Review Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 900],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP - Motion Elevation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Reservations", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": { "Reminder_Sent": "Yes" } },
        "where": { "values": [{ "lookupColumn": "Confirmation_Code", "lookupValue": "={{ $json.confirmation_code }}" }] },
        "options": {}
      },
      "id": "me14-0013-0013-0013-000000000013",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 580],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID", "name": "Google Sheets - Motion Elevation" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Reservations", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": { "Noshow_Followup_Sent": "Yes", "Status": "No-Show" } },
        "where": { "values": [{ "lookupColumn": "Confirmation_Code", "lookupValue": "={{ $json.confirmation_code }}" }] },
        "options": {}
      },
      "id": "me14-0014-0014-0014-000000000014",
      "name": "Mark No-Show",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 740],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID", "name": "Google Sheets - Motion Elevation" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Reservations", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": { "Review_Sent": "Yes" } },
        "where": { "values": [{ "lookupColumn": "Confirmation_Code", "lookupValue": "={{ $json.confirmation_code }}" }] },
        "options": {}
      },
      "id": "me14-0015-0015-0015-000000000015",
      "name": "Mark Review Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1400, 900],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID", "name": "Google Sheets - Motion Elevation" } }
    }
  ],
  "connections": {
    "Webhook: New Reservation": {
      "main": [[{ "node": "Parse Reservation Data", "type": "main", "index": 0 }]]
    },
    "Parse Reservation Data": {
      "main": [[{ "node": "Log Reservation to Sheet", "type": "main", "index": 0 }]]
    },
    "Log Reservation to Sheet": {
      "main": [
        [{ "node": "Send Confirmation Email", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Schedule: Daily 10am": {
      "main": [[{ "node": "Read Reservations Sheet", "type": "main", "index": 0 }]]
    },
    "Read Reservations Sheet": {
      "main": [[{ "node": "Classify Reservation Actions", "type": "main", "index": 0 }]]
    },
    "Classify Reservation Actions": {
      "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Send Day-Of Reminder", "type": "main", "index": 0 }],
        [{ "node": "Send No-Show Recovery Email", "type": "main", "index": 0 }],
        [{ "node": "Send Post-Dinner Review Request", "type": "main", "index": 0 }]
      ]
    },
    "Send Day-Of Reminder": {
      "main": [[{ "node": "Mark Reminder Sent", "type": "main", "index": 0 }]]
    },
    "Send No-Show Recovery Email": {
      "main": [[{ "node": "Mark No-Show", "type": "main", "index": 0 }]]
    },
    "Send Post-Dinner Review Request": {
      "main": [[{ "node": "Mark Review Sent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["motion-elevation", "restaurant", "reservation", "no-show", "review-request", "hospitality"],
  "meta": {
    "motionElevation": {
      "version": "1.0.0",
      "category": "Restaurant & Hospitality Automation",
      "deployTime": "~60 minutes",
      "credentialsNeeded": ["SMTP", "Google Sheets OAuth2"],
      "suggestedPrice": "€797 setup + €127/month",
      "description": "Webhook receives reservation → instant confirmation email. Daily job handles day-of reminders, no-show follow-ups, and post-dinner review requests."
    }
  }
}
